# local package
-e .

# external requirements
dvc
dvc-s3
click~=8.1.8
Sphinx
coverage
awscli==1.32.12
flake8
python-dotenv>=0.5.1
pytest
mlflow
pandas
numpy
matplotlib
seaborn
joblib
scikit-learn
setuptools
pydantic
requests
fastapi
alibi-detect
tensorflow>=2.0
tensorflow_probability
tf_keras