name: Check PR Title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
          headerPattern: '^(\w+)\(fase\d+\): .+$'
          subjectPattern: '^\(fase\d+\): .+'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}